<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
# Set open_basedir to a safe location
php_value    open_basedir    /var/zpanel/hostdata/tlc/public_html/tlc_tvu_edu_vn/thgv:/var/zpanel/temp/