<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
# Set open_basedir to a safe location
php_value    open_basedir    /var/zpanel/hostdata/tlc/public_html/tlc_tvu_edu_vn/thgv:/var/zpanel/temp/